* {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 40px;
}

.navbar {
    background-color: #3bc7c2fb;
    padding-left: 75px;
    padding-top: 2px;
    top: 0;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
}

.navbar .navbar-brand {
    padding-top: 3px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: rgb(44, 8, 92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

.navbar ul li a:hover {
    color: rgb(255, 255, 255);
}

.navbar .login {
    background-color: rgb(245, 149, 23);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: white;
    float: right;
    margin-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar .login:hover {
    text-decoration: none;
    background-color: rgb(172, 105, 19);
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .wrapper {
    margin-top: -30px;
}

.row {
    margin: 50px;
}

#about .wrapper .row {
    padding-left: 300px;
}

#programs .wrapper .row {
    margin: 50px;
}

#programs .wrapper .row .card {
    margin: 30px
}

.wrapper .row p {
    font-size: 20px;
    color: rgb(44, 8, 92);
    font-weight: 100;
}

#home {
    padding-top: -30px;
    padding-bottom: -50px;
    background-color: #3bc7c2fb;
}

#contact {
    padding-top: -75px;
    padding-bottom: -50px;
    background-color: rgb(255, 255, 255);
}

.wrapper .row h1 {
    font-size: 30px;
    color: rgb(44, 8, 92);

}

.wrapper .row h1 span {
    color: rgb(245, 149, 23);
    font-weight: bold;

}

.wrapper .row a {
    text-decoration: none;
    background-color: rgb(245, 149, 23);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.wrapper .row a:hover {
    background-color: rgb(172, 105, 19);
}

#programs {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
}

.container {
    position: relative;
    background: #fff;
    border-radius: 30px;
    width: 700px;
    height: max-content;
    padding: 50px;
    padding-left: 70px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.container .title-text {
    margin-top: -5px;
    letter-spacing: 0px;
    font-size: 20px;
    color: #000;
}

.container .progress {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.container h6 {
    text-align: left;
}

.progress .progress-bar {
    left: 50px;
    width: 95%;
    height: 15px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
}

.progress-bar div {
    width: 75%;
    height: 100%;
    background: rgb(245, 149, 23);
    border-radius: 30px;
}

.progress-bar #guarantee {
    width: 100%;
    height: 100%;
    background: rgb(245, 149, 23);
    border-radius: 30px;
}

.table_p {
    width: 750px;
    margin: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table_p #header {
    background-color: #3bc7c2fb;
}


.progress-bar #classes {
    width: 90%;
    height: 100%;
    background: rgb(245, 149, 23);
    border-radius: 30px;
}

.progress p {
    background: none;
    position: absolute;
    right: 40px;
    margin-top: -12px;
    font-size: 24px;
}

.progress h6 {
    margin-top: -6px;
    font-size: 18px;
    letter-spacing: 1px;
}

.progress-bar span {
    position: absolute;
    transform: translateY(-20px) translateX(-10px);
    left: 0;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 6px solid #3bc7c2fb;
    border-radius: 50%;
}


form {
    width: 60%;
}

form button {
    margin-left: 60px;
}

form footer {
    margin-top: 40px;
    text-align: center;
}

#formOrder {
    text-decoration: none;
}

#btnOrder {
    background-color: rgb(172, 105, 19);
}