*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    background-image: url(Startup.png);
    background-color:#3bc7c2fb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.container{
  left: 350px;
  position: absolute;
  padding: 50px 50px;
  width: 500px;
  background-color: rgba(245, 149, 23);
  box-shadow: 0 10 10px rgba(255,255,255,.3);
}
.container h2{
  text-align: left;
  color: #fafafa;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 4px solid #2979ff;
}
.container label{
  text-align: left;
  color: #27339e;
}
.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #eb3c53;
  color: #fff;
  font-size: 15px;
}
.container form button{
  width: 100%;
  padding: 5px 0;
  border: none;
  background-color:#27339e;
  font-size: 17px;
  color: #fafafa;
}